*{
  font-family: 'Poppins', sans-serif;
}

body{
  margin: 0;
}

/* styling for nav bar at top with the airbnb logo */
nav{
  box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
  padding: 1rem;
}

.airbnb-logo{
  height: 50px;
  width: 150px;
}

/* styling for the content area that contains a grid of photos (MainPhotoGrid.js)*/
.MainPhotoGrid{
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* styling for the intro section */
.intro{
  height: 10vh;
  padding: 5rem;
}

.intro > h1{
  font-size: 48px;
  margin: 0;
}

.intro > p{
  margin-top: 0;
  max-width: 400px;
  line-height: 110%;
  font-weight: 300;
  font-size: 24px;
}

/* styling for card-display-area (the area in which we display cards with activities, reviews and ratings) */
.card-display{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.activity-card{
  border: 2px salmon solid;
  padding: 0.5rem;
  /* display: flex; */
 /*  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 3rem; */
}

.activity-card > img{
  max-width: 250px;
  max-height: 300px;
}

.cardStats{
  max-width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}